
.detailbox{

margin-top: 30px;
margin-left: 100px;
margin-right:100px;

}

.subwaylogoimg{

max-width: 20%
height:auto;
display: block;
margin-left:auto;
margin-right:auto;
padding-top: 40px;
margin-bottom: 50px;

}

.row{

  max-width: 20%
  height:auto;
  display: block;
  margin-left:auto;
  margin-right:auto;
  padding-top: 40px;
  margin-bottom: 50px;

}

.card-body{
  width:auto;
  height:auto;

}
.panel{
  /*margin-left:auto;
  width:50%;*/
  height: 45%;
}
.thumbnail{

  height: 300px;
}
/* 미세먼지 실시간 데이*/
#gauge-container {
    text-align: center;
    margin-left: 30px;
    background: transparent url("../content/dataviz/gauge/linear-gauge-container.png") no-repeat 50% 50%;
    padding: 18px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

#gauge-container.horizontal {
    background-image: url("../content/dataviz/gauge/linear-gauge-container-h.png");
}

#gauge {
    width: 100%;
    height: 100%;
    margin: 0 auto 0;
    /* margin-left: 100px; */
}
/* .nowstate{

  height: auto;

} */
.pm10table{
  /* margin-left: 100px; */
  margin-top: 10px;
}
/* 현재미세먼지정보 감싸는 카드 부분 */
.nowstate_part{

  width: auto;
  height:auto;
  display: block;
  margin-left:auto;
  margin-right:auto;
  align-content: center;

  margin-top: 50px;
}

.list-group-item{

height: 70.5px;

}
.tablecard{

  align-items: : center;
  height: 97%;
}
.table{

  margin-top: 50px;
  height: 70%;
}
.mapway{
  width: 20%;
}
.detail{
  font-family: 'Gothic A1', sans-serif;
  font-size: 20px;

}
.graph_part{

  width: 100%;
  height:auto;
  display: block;
  margin-left:auto;
  margin-right:auto;
  align-content: center;

  margin-top: 50px;
}
