

<!DOCTYPE html>
<html>
  <head>
    <!-- 부트스트랩 경로가 head 제일 앞에 와야하니 이부분은 건들이지 마세용! -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- 내가 작성한 css 먹이기  -->
  <link rel="stylesheet" href="/stylesheets/index.css">

  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <!-- 정적 파일로 연결된 스크립트 파일 연결 -->
  <!-- <script type="text/javascript" src="javascript/index_java.js"></script> -->
    <!--  -->
    <!-- <script src = "/js/bootstrap.min.js"></script> -->
    <!-- 부트스트랩 와치 cdn -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/minty/bootstrap.min.css">

<!-- 지하철 부분 반응형으로 만드는 제이쿼리 코드부분 -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="http://mattstow.com/experiment/responsive-image-maps/jquery.rwdImageMaps.min.js"></script>

<script>

      $(function(){

      	$('img[usemap]').rwdImageMaps();

      	$("#img").width("100%");

      });

</script>


    <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
         <a class="navbar-brand" href="/time5"></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarColor01">
           <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
               <a class="nav-link" href="#">ABOUT<span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">SERVICE</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#"></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#"></a>
             </li>
           </ul>
           <!-- <form class="form-inline my-2 my-lg-0">
             <input class="form-control mr-sm-2" type="text" placeholder="Search">
             <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
           </form> -->
         </div>
       </nav>



     <title>MI_WAR TEST WEB</title>
    <meta charset="utf-8">
  </head>
  <body>
  <!-- <body style="background-color:powderblue;"> -->
    <div class="titlepart"><center><h1 style="font-family:fantasy; font-size:5em;"><a href="/">MI-WAR</a></h1></center></div>


    <!-- 검색창 -->
    <div class= "search">
    <form class="form-inline my-2 my-lg-0">
     <input class="form-control mr-sm-2" type="text" placeholder="Search">
     <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
   </form>
  </div>




   <!-- 툴팁 테스트  -->
   <!-- 툴팁 자바스크립트 -->
   <script>
   var dom = (document.getElementById) ? true : false;
   var ns5 = (!document.all && dom || window.opera) ? true: false;
   var ie5 = ((navigator.userAgent.indexOf("MSIE")>-1) && dom) ? true : false;
   var ie4 = (document.all && !dom) ? true : false;
   var nodyn = (!ns5 && !ie4 && !ie5 && !dom) ? true : false;

   var origWidth, origHeight;


   if (nodyn) { event = "nope" }



   var tipFollowMouse= true;

   var tipWidth= 200;
   var offX= 20;
   var offY= 12;
   var tipFontFamily= "Verdana, arial, helvetica, sans-serif";
   var tipFontSize= "8pt";

   var tipFontColor= "#000000";
   var tipBgColor= "#DDECFF";
   var tipBorderColor= "#000080";
   var tipBorderWidth= 3;
   var tipBorderStyle= "ridge";
   var tipPadding= 4;


   var messages = new Array();
   messages[0] = new Array('imgfile/홍대입구역_main.JPG','홍대입구역pm25 : <%= JSON.stringify(list[1].PM25)%> ','white');
   messages[1] = new Array('imgfile/합정역_main.JPG','합정역pm25 : <%= JSON.stringify(list[2].PM25)%>','white');
   messages[2] = new Array('imgfile/영등포구청_main.JPG','영등포 구청역pm25 : <%= JSON.stringify(list[0].PM25)%>','white');


   if (document.images) {
   	var theImgs = new Array();
   	for (var i=0; i<messages.length; i++) {
     	theImgs[i] = new Image();
   		theImgs[i].src = messages[i][0];
     }
   }

   var startStr = '<table width= "' + tipWidth + '"><tr><td align="center" width="50%"><img src="';
   var midStr = '" border="0"></td></tr><tr><td valign="top">';
   var endStr = '</td></tr></table>';

   var tooltip, tipcss;
   function initTip() {
   	if (nodyn) return;
   	tooltip = (ie4)? document.all['tipDiv']: (ie5||ns5)? document.getElementById('tipDiv'): null;
   	tipcss = tooltip.style;
   	if (ie4||ie5||ns5) {
   		tipcss.width = tipWidth+"px";
   		tipcss.fontFamily = tipFontFamily;
   		tipcss.fontSize = tipFontSize;
   		tipcss.color = tipFontColor;
   		tipcss.backgroundColor = tipBgColor;
   		tipcss.borderColor = tipBorderColor;
   		tipcss.borderWidth = tipBorderWidth+"px";
   		tipcss.padding = tipPadding+"px";
   		tipcss.borderStyle = tipBorderStyle;
   	}
   	if (tooltip&&tipFollowMouse) {
   		document.onmousemove = trackMouse;
   	}
   }

   window.onload = initTip;


   var t1,t2;
   var tipOn = false;
   function doTooltip(evt,num) {
   	if (!tooltip) return;
   	if (t1) clearTimeout(t1);	if (t2) clearTimeout(t2);
   	tipOn = true;

   	if (messages[num][2])	var curBgColor = messages[num][2];
   	else curBgColor = tipBgColor;
   	if (messages[num][3])	var curFontColor = messages[num][3];
   	else curFontColor = tipFontColor;
   	if (ie4||ie5||ns5) {
   		var tip = startStr + messages[num][0] + midStr + '<span style="font-family:' + tipFontFamily + '; font-size:' + tipFontSize + '; color:' + curFontColor + ';">' + messages[num][1] + '</span>' + endStr;
   		tipcss.backgroundColor = curBgColor;
   	 	tooltip.innerHTML = tip;
   	}
   	if (!tipFollowMouse) positionTip(evt);
   	else t1=setTimeout("tipcss.visibility='visible'",100);
   }

   var mouseX, mouseY;
   function trackMouse(evt) {
   	standardbody=(document.compatMode=="CSS1Compat")? document.documentElement : document.body
   	mouseX = (ns5)? evt.pageX: window.event.clientX + standardbody.scrollLeft;
   	mouseY = (ns5)? evt.pageY: window.event.clientY + standardbody.scrollTop;
   	if (tipOn) positionTip(evt);
   }


   function positionTip(evt) {
   	if (!tipFollowMouse) {
   		standardbody=(document.compatMode=="CSS1Compat")? document.documentElement : document.body
   		mouseX = (ns5)? evt.pageX: window.event.clientX + standardbody.scrollLeft;
   		mouseY = (ns5)? evt.pageY: window.event.clientY + standardbody.scrollTop;
   	}

   	var tpWd = (ie4||ie5)? tooltip.clientWidth: tooltip.offsetWidth;
   	var tpHt = (ie4||ie5)? tooltip.clientHeight: tooltip.offsetHeight;

   	var winWd = (ns5)? window.innerWidth-20+window.pageXOffset: standardbody.clientWidth+standardbody.scrollLeft;
   	var winHt = (ns5)? window.innerHeight-20+window.pageYOffset: standardbody.clientHeight+standardbody.scrollTop;

   	if ((mouseX+offX+tpWd)>winWd)
   		tipcss.left = mouseX-(tpWd+offX)+"px";
   	else tipcss.left = mouseX+offX+"px";
   	if ((mouseY+offY+tpHt)>winHt)
   		tipcss.top = winHt-(tpHt+offY)+"px";
   	else tipcss.top = mouseY+offY+"px";
   	if (!tipFollowMouse) t1=setTimeout("tipcss.visibility='visible'",100);
   }

   function hideTip() {
   	if (!tooltip) return;
   	t2=setTimeout("tipcss.visibility='hidden'",100);
   	tipOn = false;
   }

   document.write('<div id="tipDiv" style="position:absolute; visibility:hidden; z-index:100"></div>')

</script>




   <!-- 자바스크립트 넣어보기 -->
<span data-tooltip-text=<%= JSON.stringify(list[0].NOW)%>></span>

<!-- <img src="imgfile/subway_3.bmp" usemap="#Map" width="${641.2}" height="${434.94}"> -->
<img class="subway imgScrollBox" src="imgfile/subway_3.bmp"  alt="logo" usemap="#map_2호선" width="1200" height="814">

<style type="text/css">

	img[usemap] {

		border: none;

		height: auto;

		max-width: 100%;

		width: auto;

	}

</style>
<map name="map_2호선">


  <!-- <a href="#" onmouseover="doTooltip(event,0)" onmouseout="hideTip()">Link 1</a> -->
    <area target="" alt="영등포구청" onmouseover="doTooltip(event,2)" onmouseout="hideTip()"title="영등포구청" href="/time5" coords="280,393,301,415" shape="rect">
    <area target=""alt="합정" onmouseover="doTooltip(event,1)" onmouseout="hideTip()" href=""coords="327,345,351,367" shape="rect">
    <area target="" alt="홍대입구" onmouseover="doTooltip(event,0)" onmouseout="hideTip()" href="" coords="345,330,371,354" shape="rect">
    <area target="" alt="신촌" title="신촌" href="" coords="363,313,390,338" shape="rect">
    <area target="" alt="이대" title="이대" href="" coords="380,296,407,322" shape="rect">
    <area target="" alt="아현" title="아현" href="" coords="408,295,433,322" shape="rect">
    <area target="" alt="시청" title="시청" href="" coords="433,295,458,320" shape="rect">
</map>





  </ol>






  </body>
</html>
