<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>MongoDB Test "타임스퀘어 지하2층 미세먼지outdoor측정값"</h1>
    <p>Show documents in "time_B2/out" collection</p>
    <ul>
    <% for(var i = 0; i < list.length; i++) {%>
      <li><%= JSON.stringify(list[i])%></li>
    </ul>
    <% } %>
  </body>
</html>
